* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  border-left: 5px solid lightgray;
  min-height: 100vh;
  font-family: sans-serif;
  max-width: 1000px;
  margin: 0 auto;
}
header,
main,
footer {
  padding: 1rem 2rem;
}
h1 {
  color: tomato;
}
img {
  width: 100%;
}

.main-navigation {
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.footer-navigation {
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.main-navigation a {
  color: gray;
}

.footer-navigation a {
  color: tomato;
}

.blog-title {
  font-size: 2rem;
}
.blog-post {
  display: flex;
  justify-content: flex-end;
  color: tomato;
}
article {
  margin-bottom: 4rem;
  border: 1px solid lightgray;
  padding-bottom: 2rem;
  font-family: "Courier New", Courier, monospace;
}
.blog-content::first-letter {
  font-size: 5em;
  color: gray;
}
#copyright {
  color: gray;
}
